In [10]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor

In [15]:
cali_path = "C:/Users/uig86510/Desktop/archive/housing.csv"
cali_data = pd.read_csv(cali_path)
cali_data.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
#dropping rows with null values
#axis = 0 --> rows and axis = 1 --> columns

cali_data =  cali_data.dropna(axis = 0)

In [6]:
#prediction target
y = cali_data.median_house_value

In [7]:
cali_data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [8]:
#features
cali_feat = ["longitude","latitude","total_rooms","total_bedrooms"]
X = cali_data[cali_feat]
X.describe()

          longitude      latitude   total_rooms  total_bedrooms
count  20433.000000  20433.000000  20433.000000    20433.000000
mean    -119.570689     35.633221   2636.504233      537.870553
std        2.003578      2.136348   2185.269567      421.385070
min     -124.350000     32.540000      2.000000        1.000000
25%     -121.800000     33.930000   1450.000000      296.000000
50%     -118.490000     34.260000   2127.000000      435.000000
75%     -118.010000     37.720000   3143.000000      647.000000
max     -114.310000     41.950000  39320.000000     6445.000000

In [9]:
X.head()

   longitude  latitude  total_rooms  total_bedrooms
0    -122.23     37.88        880.0           129.0
1    -122.22     37.86       7099.0          1106.0
2    -122.24     37.85       1467.0           190.0
3    -122.25     37.85       1274.0           235.0
4    -122.25     37.85       1627.0           280.0

In [11]:
#define model
cali_model = DecisionTreeRegressor(random_state = 1)

#fit model
cali_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [12]:
#predicting price for first 5 houses
print(cali_model.predict(X.head()))

[452600. 358500. 352100. 341300. 342200.]

In [14]:
#predicting price for last 5 houses
print(cali_model.predict(X.tail()))

[78100. 77100. 92300. 84700. 89400.]